$bg: #1d1d1d;
$headerbg:rbga(34,34,34,.8);
$textGray:#999;
$Border:1px solid #393939;
$hover:#00b3ff;
$footerColor: rgba(255,255,255,.5);
$footerbg:#181818;
$fontfamily: 'Roboto', sans-serif;
$Gradient: linear-gradient(180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 100%);